//Colors
$white: #ffffff;
$white-lighter: #bbbbbb;
$black: #111111;
$black-lighter: #444444;

$gray: #666666;
$gray-lighter: #595959;

$red: #9b4646;
$red-lighter: #804646;
$red-sharp: #cc0000;

$green: #468146;
$green-lighter: #496e49;
$green-sharp: #008d00;

//Fonts
$font-size-medium: 1rem;
$font-size-large: 1.5rem;
$font-size-largest: 2.3rem;
$font-text-written-color: #0b5fb4;

//Buttons
$button-width-medium: 8rem;
$button-height-medium: 5rem;
$button-transition-duration: 0.2s;

//Others
$button-radius: 0.2rem;
$page-margin: 16px;
$link-light: rgb(150, 195, 253);
